.navcon1
{

     width: 100vw;
     display: flex; 
     justify-content: center;
     align-items: center;
}
.navcon2
{
     display: flex; flex-direction: column;
     gap: 5px;
}
.nav-c1-logo img
{
     width: 250px;
}
.nav-c1
{
     display: flex;
     justify-content: space-between;
     align-items: end;
     width: 1250px;
}
.nav-c3 
{
     display: flex;

          justify-content: space-between;
     align-items: end;

}
.nav-c1-date
{
     font-size: 13px;
}
.nav-c1-links,.nav-c3-ham
{
     display: flex; gap: 10px;
     font-size: 20px;
}
.nav-c3-sections
{
     display: flex; gap: 20px;
}
.nav-c2-line
{
     width: 1250px; height: 2px;
     background-color: pink;

}
.break-news
{
     background-color: rgb(220, 220, 220);
     width: 1530px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     white-space: nowrap;
     overflow-x: hidden;
     margin: 30px 0px;


}

.el-full-news
{
    //  background-color: #a50034;
     border: dashed 3px grey;
     width: 100%;

     margin: 20px 0px;
      position: relative !important;
  overflow: visible !important;
  display: block !important;

}
.el-full-news2
{
     // background-color: #a50034;

     width: 100%;

     margin: 20px 0px;

}
.news-m-cont
{
     width: 100vw;

     display: flex;
     justify-content: center;
     align-items: center;
}


.ele-news
{
     position: relative;
      background-color: rgb(241, 241, 241);
     width: 895px;height: fit-content ;
     margin: 5px;
     margin-bottom: 500px;
      display: block !important;
  position: relative;
  overflow: visible !important;

}
.ele-news2
{
     position: relative;
    //  background-color: rgb(241, 241, 241);
     width: 895px;height: fit-content ;
     margin: 5px;
     margin-bottom: 500px;
     display: block !important;
     position: relative;
     overflow: visible !important;
}
.ele-const-zonar
{
     position: absolute;
     top: 0;right: 0;
     background-color: #4a4a4a;
     font-weight: bold; font-size: 13px;
     color: white;
     padding: 3px 25px;
     border-radius: 20px;
}
.news-m-cont2
{
     max-width: 1250px;
     width: fit-content;
    //  display: block !important;
     width: 100%;
     max-width: 1250px;
     width: fit-content;
     display: flex;
}

.hr-line
{
     width: 2px;height: 500px;
     border-radius: 5px;
     background-color: pink;
}
.side-news
{
     padding: 5px;
     display: flex;flex-direction: column;
     width: 400px;
     gap: 5px;
}
.mn-txt
{
     font-size: 12px;font-weight: bold;
     width:230px;

}
.morenews
{
     display: flex;
}
.mrn-in-cont
{
     display: flex;flex-direction: column;
     gap: 5px;
}
