.ad-wrapper {
  width: 1200px;
  max-width: 12300px;
  margin: 140px;
}

.ad-top-border {
  width: 100%;
  height: 2px;
  background-color: #ff66b3; /* Light pink border line */
  margin-bottom: 8px;
}

.ad-box {
  background-color: #d9d9d9; /* light gray background */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 0.9rem;
  font-family: Arial, sans-serif;
  border: none;
  padding: 30px;
}

.ad-box p {
  margin: 30;
  pointer-events: none;
  background-color: #ff66b3;
  padding-left: 20px;
}
.news-card {
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.2s ease;
  max-width: 2000px;
  margin: 20px 130px;
  font-family: "Noto Sans Tamil", sans-serif;
  
}

.news-card:hover {
  transform: scale(1.01);
}

.news-image {
  width: 100px;
  height: 110px;
  object-fit: cover;
}

.news-content {
  padding: 10px 15px;
  background-color: #666;
}

.news-content h3 {
  font-size: 1rem;
  margin-bottom: 6px;
  color: #111;
  line-height: 1.4;
}

.news-content p {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 8px;
  line-height: 1.5;
}

.news-time {
  font-size: 0.8rem;
  color: #999;
}
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-family: "Noto Sans Tamil", sans-serif;
  width: 320px;
}

/* WEATHER CARD */
.weather-card {
  width: 250px;
  background-color: #1e1f26;
  color: #fff;
  border-radius: 10px;
  padding: 0px 80px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  font-weight: 600;
  margin-bottom: 10px;
  row-gap: 1000px;
}

.weather-header .today {
  color: #bbb;
  font-size: 0.8rem;
}

.weather-main {
  text-align: center;
  margin: 15px 0;
}

.weather-main h1 {
  font-size: 2.5rem;
  margin: 10px;
}

.weather-main p {
  color: #ccc;
  margin: 52px 0;
  font-size: 0.910em;
}

.weather-icon {
  font-size: 1.5rem;
}

.weather-aqi {
  text-align: center;
  margin-top: 15px;
}

.aqi-label {
  font-weight: 600;
  font-size: 0.9rem;
}

.aqi-bar {
  display: flex;
  justify-content: space-between;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin: 8px 0;
}

.aqi-bar div {
  flex: 1;
}

.aqi-green {
  background-color: #00e400;
}
.aqi-yellow {
  background-color: #ffeb3b;
}
.aqi-orange {
  background-color: #ff9800;
}
.aqi-red {
  background-color: #f44336;
}

.active {
  border-top: 3px solid #00bcd4;
}

.aqi-text {
  color: #ccc;
  font-size: 0.85rem;
}

/* ADVERTISEMENT BOX */
.ad-box {
  width: 100%;
  background-color: #d9d9d9;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 0.9rem;
  border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .right-container {
    width: 100%;
  }

  .weather-card {
    width: 100%;
    padding-left: 100px;
  }

  .ad-box {
    width: 100%;
  }
}

